<footer id="footer" class="py-6 lg:py-10">
    <div class="container mx-auto">
        <div class="grid place-items-center">
            <div class="copyright text-xl">
                &copy; {{ 'now' | date('Y') }} | Website built by <a href="https://jsudimak.com/webdev" target="__blank">James Sudimak</a>.
            </div>
        </div>
    </div>
</footer>