{% extends "_layouts/base.twig" %}

{# Get Gamers #}
{% set gamers = craft.entries.section('gamers').all() %}


{% block content %}

    <div class="container mx-auto">
        <div class="grid place-items-center h-full px-6 lg:px-0 py-6 lg:py-10"
            x-data="{
                gamer: '',
                updateGamer(event) {
                    this.gamer = event.target.value;
                    const pickBtn = document.getElementById('pick-btn');
                    if (pickBtn && this.gamer) {
                        pickBtn.classList.remove('hidden');
                    } else if (pickBtn) {
                        pickBtn.classList.add('hidden');
                    }
                }
            }"
        >
            <div class="flex flex-col gap-5 lg:gap-10 items-center justify-center w-full max-w-3xl">
                <select class="custom-select w-full preload" name="gamer-select" id="gamer-select"
                    @change="updateGamer($event)"
                    x-model="gamer"
                >
                    <option value="">Select a Gamer</option>
                    {% if gamers|length %}
                        {% for gamer in gamers %}
                        <option value="{{ gamer.id }}">
                            {{ gamer.title }}
                        </option>
                        {% endfor %}
                    {% endif %}
                </select>
                <button id="pick-btn" class="preload"
                    x-show="gamer !== ''"
                    @click="pickAGame(gamer)"
                >
                    What Should I Play?
                </button>
                <div id="game-results" class="w-full max-w-2xl opacity-0 transition-opacity duration-150 preload">
                    <div class="flex flex-col gap-5 p-7 bg-orange rounded-2xl shadow">
                        <div class="flex items-center justify-center gap-5">
                            <h2 id="game-title" class=" text-[26px] font-extrabold"></h2>
                            <a id="game-steam-link" href="#" target="__blank" class="group">
                                <div class="sr-only">View on Steam</div>
                                <svg fill="#171a21" class="w-10 h-auto transition-colors duration-150 group-hover:fill-white" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                    <title>Steam</title>
                                    <path d="M18.102 12.129c0-0 0-0 0-0.001 0-1.564 1.268-2.831 2.831-2.831s2.831 1.268 2.831 2.831c0 1.564-1.267 2.831-2.831 2.831-0 0-0 0-0.001 0h0c-0 0-0 0-0.001 0-1.563 0-2.83-1.267-2.83-2.83 0-0 0-0 0-0.001v0zM24.691 12.135c0-2.081-1.687-3.768-3.768-3.768s-3.768 1.687-3.768 3.768c0 2.081 1.687 3.768 3.768 3.768v0c2.080-0.003 3.765-1.688 3.768-3.767v-0zM10.427 23.76l-1.841-0.762c0.524 1.078 1.611 1.808 2.868 1.808 1.317 0 2.448-0.801 2.93-1.943l0.008-0.021c0.155-0.362 0.246-0.784 0.246-1.226 0-1.757-1.424-3.181-3.181-3.181-0.405 0-0.792 0.076-1.148 0.213l0.022-0.007 1.903 0.787c0.852 0.364 1.439 1.196 1.439 2.164 0 1.296-1.051 2.347-2.347 2.347-0.324 0-0.632-0.066-0.913-0.184l0.015 0.006zM15.974 1.004c-7.857 0.001-14.301 6.046-14.938 13.738l-0.004 0.054 8.038 3.322c0.668-0.462 1.495-0.737 2.387-0.737 0.001 0 0.002 0 0.002 0h-0c0.079 0 0.156 0.005 0.235 0.008l3.575-5.176v-0.074c0.003-3.12 2.533-5.648 5.653-5.648 3.122 0 5.653 2.531 5.653 5.653s-2.531 5.653-5.653 5.653h-0.131l-5.094 3.638c0 0.065 0.005 0.131 0.005 0.199 0 0.001 0 0.002 0 0.003 0 2.342-1.899 4.241-4.241 4.241-2.047 0-3.756-1.451-4.153-3.38l-0.005-0.027-5.755-2.383c1.841 6.345 7.601 10.905 14.425 10.905 8.281 0 14.994-6.713 14.994-14.994s-6.713-14.994-14.994-14.994c-0 0-0.001 0-0.001 0h0z"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="flex items-center justify-between w-full text-xl">
                            <div id="game-userscore" class="font-bold"></div>
                            <div id="game-userscore-count" class="font-bold"></div>
                        </div>
                        <div class="flex items-center justify-between w-full text-xl">
                            <div id="game-wilson" class="font-bold"></div>
                            <div id="game-sdb" class="font-bold"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% js %}
    
    function pickAGame(selectedGamerId) {

        console.log('Selected gamer ID:', selectedGamerId);

        // Reset Game Info content
        let elemGameResults = document.getElementById("game-results");
        if (elemGameResults) {
            if (elemGameResults.classList.contains('opacity-100')) {
                elemGameResults.classList.remove('opacity-100');
                elemGameResults.classList.add('opacity-0');
            }
        }

        const getSessionInfo = () => {
            return fetch('/actions/users/session-info', {
                headers: {
                    'Accept': 'application/json',
                },
            })
            .then(response => response.json())
        }

        getSessionInfo()
        .then(session => {

            const params = new FormData();
            params.append('gamerId', selectedGamerId);

            return fetch('/actions/pick-a-game/pick', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'X-CSRF-Token': session.csrfTokenValue,
                    'X-Requested-With': 'XMLHttpRequest',
                },
                body: params,
            })
            .then(response => response.json())
            .then(result => {

                if (result.status == 'error') {
                    console.error(result.message);
                } else {

                    if (elemGameResults) {

                        let elemGameTitle = elemGameResults.querySelector("#game-title");
                        let elemSteamLink = elemGameResults.querySelector("#game-steam-link");
                        let elemUserScore = elemGameResults.querySelector("#game-userscore");
                        let elemUserScoreCount = elemGameResults.querySelector("#game-userscore-count");
                        let elemWilson = elemGameResults.querySelector("#game-wilson");
                        let elemSdb = elemGameResults.querySelector("#game-sdb");

                        elemGameTitle.innerHTML = `${result.game.title} (${result.game.releaseYear})`;
                        elemSteamLink.href = `https://store.steampowered.com/app/${result.game.steamId}`;
                        elemUserScore.innerHTML = `User Score: ${result.game.steamUserScore.toString()}`;
                        elemUserScoreCount.innerHTML = `User Score Count: ${result.game.steamUserScoreCount.toString()}`;
                        elemWilson.innerHTML = `Wilson Score: ${result.game.wilsonScore.toString()}`;
                        elemSdb.innerHTML = `SDB Rating: ${result.game.sdbRating.toString()}`;

                        elemGameResults.classList.add('opacity-100');
                        elemGameResults.classList.remove('oopacity-0');

                    }

                }
                
            })

        });

    }

{% endjs %}
